<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    
    <link rel="stylesheet" type="text/css" href="/patient/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/patient/richText/bootstrap-combined.no-icons.min.css">
    <link rel="stylesheet" href="/patient/richText/index.css" type="text/css"> </link>

    <link rel="stylesheet" type="text/css" href="/patient/css/bootstrap-responsive.min.css"/>

    <link rel="stylesheet" type="text/css"  href="/patient/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/patient/css/ace.min.css"/>

    <link rel="stylesheet" type="text/css" href="/patient/css/ace-skins.min.css"/>
    <link rel="stylesheet" type="text/css" href="/patient/css/ace-responsive.min.css" />
    <link rel="stylesheet" type="text/css" href="/patient/webuploader/webuploader.css" />
    <script src="/patient/js/jquery-1.9.1.js"></script>
    <script src="/patient/js/bootstrap.min.js"></script>
    <script src="/patient/js/bootbox.min.js"></script>
    <style>
        body,html{
            width: 100%;
            height: 100%;
            background: #fff;
        }
        #sidebar{
        left: 0;
        margin-top: 0;
    }
 
    .blue{
        color:blue;
    }
        #editor{
            height: 200px;
        }
        #main-content{
            margin-left: 190px;
        }
        #page-content {
            margin: 0;
            background: #FFF;
            padding: 8px 20px 24px;
        }
        .modal-footer{
            background: #fff;
        }


    </style>

</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="navbar-inner" style="background:#0099CC;">
            <div class="container-fluid">
                <a class="brand">
                    <small><i class="icon-leaf"></i> 医疗信息系统-病人端</small>
                </a>
    
                <ul class="nav ace-nav pull-right">
    
                    <li class="light-blue user-profile">
                        <a class="user-menu dropdown-toggle" href="javascript:;" data-toggle="dropdown">
                            <img alt="LRJ" src="/patient/image/avatar.jpg" class="nav-user-photo">
                            <span id="user_info"><small>Welcome</small>patientUser </span>
                            <i class="icon-caret-down"></i>
                        </a>
                        <ul id="user_menu" class="pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
    
    
                            <li><a href="/logout"><i class="icon-off"></i> 退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="sidebar">
        <div id="sidebar-shortcuts">
    
            <div id="sidebar-shortcuts-large">
    
                <button class="btn btn-small btn-success"><i class="icon-signal"></i></button>
    
                <button class="btn btn-small btn-info"><i class="icon-pencil"></i></button>
    
                <button class="btn btn-small btn-warning"><i class="icon-group"></i></button>
    
                <button class="btn btn-small btn-danger"><i class="icon-cogs"></i></button>
    
            </div>
    
            <div id="sidebar-shortcuts-mini">
    
                <span class="btn btn-success"></span>
    
                <span class="btn btn-info"></span>
    
                <span class="btn btn-warning"></span>
    
                <span class="btn btn-danger"></span>
    
            </div>
    
        </div><!-- #sidebar-shortcuts -->
    
    
    
        <ul class="nav nav-list">
    
    
            <li >
    
                <a href="/patient/myDetail?pid=<%=pid%>&hid=<%=hid%>" >
    
                    <i class="icon-picture"></i>
    
                    <span>我的信息</span>
    
                </a>
    
            </li>
    
    
            <li>
    
                <a href="/patient/selectKeshi?pid=<%=pid%>&hid=<%=hid%>">
    
                    <i class="icon-th"></i>
    
                    <span>问诊</span>
    
                </a>
    
            </li>
    
            <li class="active">
    
                <a href="/patient/giveAuthority?pid=<%=pid%>&hid=<%=hid%>" >
    
                    <i class="icon-th"></i>
    
                    <span>链上就诊信息</span>
    
                </a>
    
            </li>
            <li>
                <a href="/patient/yaofang?pid=<%=pid%>&hid=<%=hid%>" >
    
                    <i class="icon-th"></i>
    
                    <span>药房</span>
    
                </a>
    
            </li>

            <li>
                <a href="/patient/wishList?pid=<%=pid%>&hid=<%=hid%>" >
    
                    <i class="icon-th"></i>
    
                    <span>收藏</span>
    
                </a>
    
            </li>

    
            <li>
                <a href="/patient/myOrders?pid=<%=pid%>&hid=<%=hid%>" >
    
                    <i class="icon-th"></i>
    
                    <span>我的订单</span>
    
                </a>
            </li>
            <li>
                <a href="/patient/mybinli?pid=<%=pid%>&hid=<%=hid%>" >
    
                    <i class="icon-th"></i>
    
                    <span>我的病历</span>
    
                </a>
            </li>
            <li>
                <a href="/patient/myWallet?pid=<%=pid%>&hid=<%=hid%>" >
    
                    <i class="icon-th"></i>
    
                    <span>钱包</span>
    
                </a>
            </li>
    
    
    
    
        </ul><!--/.nav-list-->
    
    
    
        <div id="sidebar-collapse"><i class="icon-double-angle-left"></i></div>
    </div>

    <div id="main-content" class="clearfix">
        <div id="page-content" class="clearfix">
    
    
            <div class="page-header position-relative">
                <h1 style="color: #2679b5;font-size: 24px;font-weight: normal">病人<small style="font-size: 14px"><i class="icon-double-angle-right"></i> 授权病历</small></h1>
            </div>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
    
                    <div class="modal-body" style="max-height:none" >
                         <form class="form-horizontal" action="/patient/patientGiveAuthority"  method="post">

                        <div class="control-group">
                            <label class="control-label" for="form-field-1">允许查看病历医院名</label>
                            <div class="controls">
                              	<input type="hidden" id="pid" name="pid" value="<%=pid%>">
									<input type="hidden" id="hid" name="hid" value="<%=hid%>">
                                <input type="text" id="hname" name="hname">

                            </div>
                        </div>
						  <div class="control-group">
                            <label class="control-label" for="form-field-1">IPFS hash</label>
                            <div class="controls">
                                <input type="text"  id="ipfs" name="ipfs"  value="<%=ipfs%>">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="form-field-1">ICd号码</label>
                            <div class="controls">
                                <input type="text"  id="icd" name="icd" >
                            </div>
                        </div>
                       <div class="control-group">
                            <label class="control-label" for="form-field-1">username</label>
                            <div class="controls">
                                <input type="text"  id="pusername" name="pusername" >
                            </div>
                        </div>
			
                </div>
                <div class="modal-footer">
                    
                    <button  class="btn btn-primary" id="btnsave" type="submit" >授权</button>
                </div>
                </form>
                </div>
            </div>
        </div>





</div>
</div>
   <script src="/patient/js/jquery-1.9.1.js"></script>
    <script src="/patient/js/bootstrap.min.js"></script>
    <script src="/patient/js/bootbox.min.js"></script>
 <script>
		
	
     
		
	

       
    </script>
</body>

</html>
