<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <!-- <meta content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no" name="viewport" />
    <meta content="Semantic-UI-Forest, collection of design, themes and templates for Semantic-UI." name="description" />
    <meta content="Semantic-UI, Theme, Design, Template" name="keywords" />
    <meta content="PPType" name="author" />
    <meta content="#ffffff" name="theme-color" />
     --><title>Hospital XYZ</title>
    <link rel="stylesheet" type="text/css" href="semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="default.css" />
    <link rel="stylesheet" type="text/css" href="pandoc-code-highlight.css" />
    <!-- <link rel="stylesheet" type="text/css" href="style_02.css"> -->
    <script src="jquery.min.js"></script>
</head>


<body>

<!-- <div class="ui horizontal divider">or</div> -->

<div class="ui container">

    <form class="ui form segment" action="/tijian" method="POST">

        <h1>待登记病人列表：</h1>
        <table><tr style='background-color:#006633'>
                <th width="150" style="color:#ffff99">病人编号</th>
                <th width="150" style="color:#ffff99">登记</th>
                <th width="150" style="color:#ffff99">病人姓名</th>
                <th width="150" style="color:#ffff99">病人年龄</th></tr>
            <% if (patient) { %>
            <% patient.forEach(function(user){ %>
            <tr>
                <th width="150"><%= user.pid %></th>
                <th width="150"><a href="/admit?id=<%= user.pid %>">检验登记</a></th>
                <th width="150"><%= user.pname %></th>
                <!--th width="150"><%= user.pusername %></th-->
                <th width="150"><%= user.age %></th>
            </tr>
            <% }) %>
            <% } %>
        </table>
    </form>
    </br>
    <div> <a href="/profile">返回首页</a> </div>


</div>




<script src="semantic.min.js"></script>

<script>
    $('.ui.form')
        .form({
            fields: {
                name       : 'empty',
                gender     : 'empty',
                age        : 'empty',
                contact    : 'empty',
                address    : 'empty',
                supervisor : 'empty',
                ward       : 'empty'
                /*speciality : 'empty'*/
                /*username : 'empty',
                password : ['minLength[6]', 'empty'],
                speciality   : ['minCount[2]', 'empty'],
                terms    : 'checked'*/
            }
        })
    ;
</script>

</body>
</html>