<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <!-- <meta content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no" name="viewport" />
    <meta content="Semantic-UI-Forest, collection of design, themes and templates for Semantic-UI." name="description" />
    <meta content="Semantic-UI, Theme, Design, Template" name="keywords" />
    <meta content="PPType" name="author" />
    <meta content="#ffffff" name="theme-color" />
     --><title>Hospital XYZ</title>
    <link rel="stylesheet" type="text/css" href="/hosp/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="/hosp/default.css" />
    <link rel="stylesheet" type="text/css" href="/hosp/pandoc-code-highlight.css" />
    <!-- <link rel="stylesheet" type="text/css" href="style_02.css"> -->
    <script src="/hosp/jquery.min.js"></script>
</head>


<body>

<!-- <div class="ui horizontal divider">or</div> -->

<div class="ui container">

    <form class="ui form segment" action="/medicinedetail" method="POST">

        <h1>药品详情：</h1>


        <div class="three fields">

            <div class="field">
                <label>适用症状</label>
                <input value="<%=datas[0].m_type%>" name="m_type" type="text">
            </div>

            <div class="field">
                <label>药名</label>
                <input value="<%=datas[0].m_name%>" name="m_name" type="text">
            </div>

            <div class="field">
                <label>数量</label>
                <input value="<%=datas[0].m_num%>" name="m_num" type="number">
            </div>
        </div>

        <div class="three fields">
            <div class="field">
                <label>价格</label>
                <input value="<%=datas[0].m_price%>" name="m_price" type="number">
            </div>

            <div class="field">
                <label>规格</label>
                <input value="<%=datas[0].m_guige%>" name="m_guige" type="text">
            </div>

            <div class="field">
                <label>有效期</label>
                <input value="<%=datas[0].m_youxiaoqi%>" name="m_youxiaoqi" type="text">
            </div>
        </div>

        <div class="two fields">
            <div class="field">
                <label>生产商</label>
                <input value="<%=datas[0].m_producerName%>" name="m_producerName" type="text">
            </div>
            <div class="field">
                <label>生产地址</label>
                <input value="<%=datas[0].m_producerAddress%>" name="m_producerAddress" type="text">
            </div>
        </div>

        <caption> <strong> 用法与功能 </strong></caption>
        <div class="two fields">
            <div class="field">
                <label>用法</label>
                <textarea name="m_yongfa" type="text"><%=datas[0].m_yongfa%></textarea>
            </div>
            <div class="field">
                <label>功能</label>
                <textarea name="m_gongneng" type="text"><%=datas[0].m_gongneng%></textarea>
            </div>
        </div>

        <caption> <strong> 药品准字 </strong></caption>
        <div class="two fields">
            <div class="field">
                <label>成分</label>
                <textarea name="m_chengfen" type="text"><%=datas[0].m_chengfen%></textarea>
            </div>
            <div class="field">
                <label>准字</label>
                <input value="<%=datas[0].m_wenhao%>" name="m_wenhao" type="text">
            </div>
        </div>


        <caption> <strong> 不良反应 </strong></caption>
        <div class="two fields">
            <div class="field">
                <label>情况</label>
                <textarea name="m_buliangfanying" type="text"><%=datas[0].m_buliangfanying%></textarea>
            </div>
        </div>



        <button class="ui primary submit button">Submit</button>
        <div class="ui error message"></div>
    </form>

    <div> <a href="/profile">Go back</a> </div>

</div>

<!-- 上传图片 -->
<form ation="/uploads" method="post" enctype="multipart/form-data">
    <input type="file" value="upload picture" name="files">
    <input type="submit">
</form>


<script src="/hosp/semantic.min.js"></script>

<script>
    $('#j_imgfile').on('change',function(){
        // 判断上传文件类型
        var objFile = $('#j_imgfile').val();
        var objType = objFile.substring(objFile.lastIndexOf(".")).toLowerCase();
        var formData = new FormData(document.forms.namedItem("picForm"));
        console.log(objType);
        if(!(objType == '.jpg'||objType == '.png'))
        {
            alert("请上传jpg、png类型图片");
            return false;
        }else{
            $.ajax({
                type : 'post',
                url : '/uploadUserImgPre',
                data: formData ,
                processData:false,
                async:false,
                cache: false,
                contentType: false,
                success:function(re){
                    re.imgSrc = re.imgSrc.replace('public','');
                    re.imgSrc = re.imgSrc.replace(/\\/g,'\/');
                    $('#j_imgPic').attr('src',re.imgSrc);
                },
                error:function(re){
                    console.log(re);
                }
            });
        }
    });
    $('.ui.form')
        .form({
            fields: {
                name       : 'empty',
                gender     : 'empty',
                age        : 'empty',
                contact    : 'empty',
                address    : 'empty',
                supervisor : 'empty',
                ward       : 'empty'
                /*speciality : 'empty'*/
                /*username : 'empty',
                password : ['minLength[6]', 'empty'],
                speciality   : ['minCount[2]', 'empty'],
                terms    : 'checked'*/
            }
        })
    ;
</script>

</body>
</html>



